// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.coutnters {
    margin-right: 30px;
    font-size: 10px;
    text-align: center;

    strong{
        font-size: 20px;
        display: block;
    }

    .votes,.views {
        width: 60px;
        height: 60px;
    }
    .status {
        &.unanswered {
            border: none;
        }
        &.answered {
            border: 1px solid $green-color;
            color: $green-color;
        }
        &.answered-accepted {
            background-color: $green-color;
            color: $color-white;
        }
    }
    .views {
        margin-top: 10px;
    }

    form.form-delete {
        display: inline;
    }



}
div.ml-auto{
    &.options{
        display: grid;
        grid-template-columns: (1fr 1fr);
        a{
            margin-right: 5px;
        }
    }


}

.vote-control {

    min-width: 60px;
    margin-right: 30px;
    text-align: center;
    color: #3b4045;

    span, a {
        display: block;
        margin: 1px 0px;
    }
    span{
        &.votes-count {
            font-size: 25px;
        }

        &.favorite-count{
            font-size: 13px;
        }

    }

    a {
        cursor: pointer;
        color: $gray-600;
        font-weight: 700;

        &.off,&.off:hover {
            color: $gray-500;
        }

        &.favorite {
            margin-top: 10px;

            &.favorited, &.favorited:hover {
                i {
                    color: $warning;
                }

                }
        }
        &:hover {
            text-decoration: none;
        }

    }
    .vote-accepted {
        color: $green-color !important;
    }


}
.answer-delete {
    width: fit-content;
    display: inline-block;
}

